body {
    font-family: 'Arial', sans-serif;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.athletes-container, .details-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
}

@media (max-width: 768px) {
    .athletes-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .athletes-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1025px) {
    .athletes-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
